:root {
  /* TYPOGRAPHY */

  /* Font families */
  --font-primary: "agenda-one", system-ui, sans-serif;
  --font-heading: "agenda-one-condensed", system-ui, sans-serif;;

  /* Font sizes taken from Bloom Visual Style Guide */
  --t-huge: 2.566rem;
  --t-large: 1.602rem;
  --t-medium: 1.424rem;
  --t-base: 1.125rem;
  --t-small: 0.875rem;

  /* Line heights */
  --t-leading: 1.4;
  --t-leading-em: calc(var(--t-leading) * 1em);
  --t-leading-rem: calc(var(--t-base) * var(--t-leading));

 /* Spacing between paragraphs */
  --t-paragraph: calc(var(--t-leading-rem) * 0.75);

  /* Font weights */
  --t-normal: 300;
  --t-bold: 700;

  /* Type colors */
  --c-headline: #222;
  --c-text: #444;
  --c-secondary: #555;

  /* Standard border radius  */
  --radius: 4px;

  /* Main Colors */

  --c-bg: #fff;
  --c-accent: var(--c-purple-600);
  --c-accent-rgb: 134, 51, 153;
  --c-accent-text: #fff;
  --c-link-text: var(--c-accent);
  --c-link-text-rgb: var(--c-accent-rgb);
  --c-accent-light: var(--c-purple-100);
  --c-accent-light-rgb: 225, 202, 229;
  --c-accent-dark: var(--c-accent);
  --c-accent-dark-rgb: var(--c-accent-rgb);

  /* Washington State DCYF Color Scheme  */
  --c-purple-100: #EDDFEF;
  --c-purple-200: #E1CAE5;
  --c-purple-300: #C498CB;
  --c-purple-400: #B884C1;
  --c-purple-500: #9F5DAD;
  --c-purple-600: #853694;

  --c-green-100: #D9EDDE;
  --c-green-200: #BFE0C8;
  --c-green-300: #7FC290;
  --c-green-400: #66B67A;
  --c-green-500: #339D4E;
  --c-green-600: #008522;

  --c-blue-100: #E4F2F6;
  --c-blue-200: #D3EAF0;
  --c-blue-300: #A7D7E3;
  --c-blue-400: #94CFDE;
  --c-blue-500: #6CBFD3;
  --c-blue-600: #36B0C9;

  --c-orange-100: #FFE5DE;
  --c-orange-200: #FFD3C9;
  --c-orange-300: #FDA996;
  --c-orange-400: #FA9883;
  --c-orange-500: #F1745D;
  --c-orange-600: #E64B38;


  /* LAYOUT WIDTHS */

  --t-measure: 55ch; /* Typographic measure */
  --w-container: 90%;
  --w-container-unitless: 90;
  --w-content-max: 60rem;
  --w-content-max-unitless: 60;
  --w-max: 80rem;
  --w-max-unitless: 80;
  --g-column-gap: calc(var(--t-paragraph) * 2);

  /* Padding between sections */

  --section-padding: var(--t-leading-rem);
  --section-margin: var(--t-paragraph);

  /*  Sizing for pictographic bullets like:
      - Checklist boxes
      - Key questions
   */
  --list-glyph-size: var(--t-leading-em);
  --list-glyph-padding: calc(var(--list-glyph-size) + 1em);
}
