/* Callout theming */

.callout {
  position: relative;
  margin-block-start: var(--t-paragraph);
  border-radius: var(--radius);
  box-shadow: 0 1px 0.5em rgba(0,0,0,0.08), 0 1px 3px rgb(0 0 0 / 0.06);
/* There should be an empty space before custom properties per CSS linter rules */
  --callout-bg: var(--c-purple-100);
  --callout-accent: var(--c-purple-300);
  --callout-header-bg: var(--c-purple-600);
  --callout-header-text: #fff;
  --callout-border: var(--callout-accent);
  break-inside: avoid-page;
}

li .callout {
  margin-block-end: var(--t-leading-rem);
}

.callout :is(ul, ol) {
  margin-block: 0;
  padding-block: 0;
}

.callout ul:not(.icon-list) li + li {
  padding-block-start: 0.5rem;
}

.callout[data-type="warning"] {
  --callout-bg: var(--c-orange-100);
  --callout-accent: var(--c-orange-300);
  --callout-header-bg: var(--c-orange-600);
}

.callout[data-type="apply"] {
  --callout-bg: #fff;
  --callout-accent: #aaa;
  --callout-header-bg: #f7f7f7;
  --callout-header-text: var(--c-text);
}

.callout[data-type="apply"] header {
  border: 1px solid var(--callout-accent);
}

.callout[data-type="related"] ul {
  padding-inline-start: 2rem;
}

.callout header {
  background: var(--callout-header-bg);
  color: var(--callout-header-text);
  padding: 0.25em 0.5em;
  border-start-start-radius: var(--radius);
  border-start-end-radius: var(--radius);
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.callout header > svg {
  inline-size: 1em;
  aspect-ratio: 1 / 1;
}

/* Basic layout */

.callout-inner {
  padding: 0.75em 0.5em;
  background: #fff;
  border-end-start-radius: var(--radius);
  border-end-end-radius: var(--radius);
  border: 1px solid var(--callout-border);
  border-block-start-width: 0px;
}

@media print {
  .callout-header {
    border: 1px solid var(--callout-border);
    border-block-end-width: 0;
    color: #000;
  }
}