.directory-button {
	background: #006580;
	color: #fff;
	border-radius: 3px;
	padding: 0.75rem 1.5rem;
	display: flex;
	align-content: center;
	width: calc(50% - 0.75em);
}

.directory-button:hover,
.directory-button:focus {
	color: #fff;
	background: #853694;
}

.directory-row {
	margin-block: 1.5em 3em;
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	gap: 1.5em;
}