.directory-button {
	--bg: 146 58 127;
	--color: 146 58 127;
	background: rgb(var(--bg) / 0.1);
	border: 1px solid rgb(var(--bg));
	color: rgb(var(--color));
	border-radius: 3px;
	padding: 0.75rem 1.5rem;
	display: flex;
	align-items: center;
	width: calc(33.333333% - 1.5em);
	line-height: 1.25;
}

.directory-button:is(:hover, :active, :focus, :link) {
	color: rgb(var(--color));
}

.directory-button:is(:hover, :focus-visible) {
	box-shadow: 0 0 0 3px rgb(var(--bg));
	background: rgb(var(--bg) / 0.15);
	scale: 1.01;
}

.directory-button:active {
	scale: 0.99;
}

.directory-row {
	margin-block: 1.5em 3em;
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	gap: 1.5em;
}