.icon-list {
	--border: #ccc;
	list-style: none;
	margin-inline: 0;
	padding-inline: 0;
	border: 1px solid var(--border);
	border-radius: var(--radius);
}

.icon-list li {
	margin: 0;
	padding: 0.75rem;
	border-block-start: 1px solid var(--border);
	gap: 1rem;
	display: flex;
	align-items: center;
	--l-stack-gap: 0;
}

.icon-list li:first-child {
	border-block-start: 0;
}

.icon-list svg {
	inline-size: var(--t-leading-rem);
	aspect-ratio: 1 / 1;
	flex: none;
}