.responsive-table {
	max-inline-size: 85%;
  position: relative;
}

.responsive-table td, 
.responsive-table th {
	padding: 0.5rem;
	border: 1px solid;
}

.responsive-table th {
	background: var(--c-accent);
	color: var(--c-accent-text);
  border: 0;
  border-inline-end: 1px solid var(--c-accent-text);
	vertical-align: middle;
}

.responsive-table th:first-child {
  border-start-start-radius: var(--radius);
}

.responsive-table th:last-child {
  border-inline-end: 0;
  border-start-end-radius: var(--radius);
}

.responsive-table td {
	border-color: #ccc;
	vertical-align: top;
}

@media screen and (width <= 45rem) {
  .responsive-table {
    border: 0;
    max-inline-size: 100%;
  }

  /* Visually hide the table head while still
     displaying it to screen readers */
  .responsive-table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .responsive-table tr {
    display: block;
    border-end-start-radius: var(--radius);
    border-end-end-radius: var(--radius);
    border-block-end: 2px solid var(--c-accent);
    margin-block-end: var(--t-leading-rem);
  }

  .responsive-table td {
    border: 1px solid var(--c-accent);
    border-block-end: 0;
    display: flex;
    position: relative;
    max-inline-size: unset;
  }

  .responsive-table td:first-child {
    border-start-start-radius: var(--radius);
    border-start-end-radius: var(--radius);
  }

  .responsive-table td:last-child {
    border-block-end: 0;
  }

  .responsive-table td::before {
    content: attr(data-label);
    padding-inline-end: var(--t-leading-rem);
    min-inline-size: 15ch;
    max-inline-size: 15ch;
    font-weight: var(--t-bold);
    color: var(--t-headline);
    align-self: flex-start;
  }
}

@media screen and (width <= 45rem) and (prefers-reduced-motion: no-preference) {
  .responsive-table td::before {
    position: sticky;
    inset-block-start: 0.5em;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .responsive-table th {
    position: sticky;
    inset-block-start: 0;
  }
}