.toc {	
	font-size: var(--t-small);
	height: fit-content;
}

.toc h2 {
	margin-block-start: 0;
	color: var(--c-secondary);
}

.toc ol,
.toc li {
	list-style: none;
	margin: 0;
	padding: 0;
}

.toc li + li {
	margin-block-start: calc(var(--t-paragraph) / 2);
}

.dcyf-meta {
	font-size: var(--t-small);
	color: var(--c-secondary);
	margin-block-start: var(--t-leading-rem);
}

.dcyf-meta p + p {
	margin-block-start: 0.5rem;
}


@media screen and (min-width: 88rem) {
	.toc {
		position: sticky;
		top: 1rem;
	}
}