.checklist {
  --list-padding: 1.5em;
}

.checklist :is(ul, li) {
  margin-inline: 0;
  padding-inline: 0;
}

.checklist ul {
  list-style-type: none;
  padding-inline-start: var(--list-padding);
  margin-block-end: var(--t-paragraph);
}

.checklist li {
  position: relative;
}

/*.checklist ul ul {
  --list-padding: 3em;
}*/

.checklist li::before {
  content: "▢";
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: calc(var(--list-padding) * -1);
}