<!DOCTYPE html>
<html lang="{{ site.language }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <meta name="robots" content="noindex,nofollow">
    <title>{{ title }} | {{ site.name }}</title>
    <link rel="stylesheet" href="https://use.typekit.net/yss3fmc.css">
    <link rel="stylesheet" href="{{ '/assets/css/app.css' | url }}">
  </head>
  <body>
    <header role="banner">
      <div class="l-wrapper">
        <a href="/">
        {% include "logo.svg" %}
        </a>
      </div>
    </header>
    <div class="l-wrapper">
      <h1>{{ title }}</h1>
      <div class="l-sidebar">
        <aside class="toc">
          <h2 class="h4">Table of Contents</h2>
          {{ content | toc | safe }}

          <div class="dcyf-meta">
            {% if idnumber %}
              <p class="dcyf-id">Publication No. {{ idnumber }}</p>
            {% endif %}
            {% if timestamp %}
              <p class="dcyf-timestamp">Last updated {{ timestamp }}</p>
            {% endif %}
          </div>
        </aside>
          <section class="l-stack-basic {{ class }}">        
            {{ content | safe }}
          </section>
        </div>
    </div>
    <footer>
      <div class="l-wrapper">
        <p>DCYF does not discriminate and provides equal access to its programs and services for all persons without regard to race, color, gender, religion, creed, marital status, national origin, sexual orientation, age, veteran’s status, or presence of any physical, sensory, or mental disability.</p>

        <p>If you would like free copies of this publication in an alternative format or language, please contact DCYF Constituent Relations at 1-800-723-4831 or email <a href="mailto:communications@dcyf.wa.gov">communications@dcyf.wa.gov</a>.</p>
      </div> 
    </footer>
  </body>
</html>
