<!DOCTYPE html>
<html lang="{{ site.language }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <meta name="robots" content="noindex,nofollow">
    <title>{{ title }} | {{ site.name }}</title>
    <link rel="stylesheet" href="https://use.typekit.net/yss3fmc.css">
    <link rel="stylesheet" href="{{ '/css/app.css' | url }}">
  </head>
  <body>
    <div class="l-container">
      <div class="l-wrapper">
        <h1>{{ title }}</h1>
        <div class="l-sidebar">
          <aside class="toc">
            <h2 class="h4">Table of Contents</h2>
            {{ content | toc | safe }}
          </aside>
            <section class="l-stack-basic {{ class }}">        
              {{ content | safe }}
            </section>
          </div>
      </div>
    </div>
  </body>
</html>
