---
layout: layouts/rawBase.njk
---

<div id="content-top" class="clearfix content-top region--dark-typography region--white-background region--no-block-paddings region--no-paddings">
  <div class="container">
    <div class="clearfix content-top__container">
      <div class="row">
        <div class="col-md-12">
          <div class="content-top__section">
            <div class="region region-content-top">
              <div id="block-tourismplus-breadcrumbs" class="clearfix block block-system block-system-breadcrumb-block">

                <div class="content">

                  <nav class="breadcrumb" role="navigation" aria-labelledby="system-breadcrumb">
                    <h2 id="system-breadcrumb" class="visually-hidden">Breadcrumb</h2>
                    <ol class="breadcrumb__items">
                      <li class="breadcrumb__item">
                        <span class="breadcrumb__item-separator fa fa-angle-right"></span>
                        <a href="https://dcyf.wa.gov/">
                          <span>Home</span>
                        </a>
                      </li>
                      <li class="breadcrumb__item">
                        <span class="breadcrumb__item-separator fa fa-angle-right"></span>
                        <a href="https://dcyf.wa.gov/services">
                          <span>Services</span>
                        </a>
                      </li>

                      <li class="breadcrumb__item">
                        <span class="breadcrumb__item-separator fa fa-angle-right"></span>
                        <a href="/raw/all-example">
                          <span>For All Families and Caregivers</span>
                        </a>
                      </li>
                      {% for page in sideNav["for-all-families-caregivers"].pages %}
                        {% if title == page.title %}
                          <li class="breadcrumb__item">
                            <span class="breadcrumb__item-separator fa fa-angle-right"></span>
                            <a href="{{ page.url }}">
                              <span>{{ page.title }}</span>
                            </a>
                          </li>
                        {% elif page.subPages %}
                          {% for subPage in page.subPages %}
                            {% if title == subPage.title %}
                              <li class="breadcrumb__item">
                                <span class="breadcrumb__item-separator fa fa-angle-right"></span>
                                <a href="{{ page.url }}">
                                  <span>{{ page.title }}</span>
                                </a>
                              </li>
                              <li class="breadcrumb__item">
                                <span class="breadcrumb__item-separator fa fa-angle-right"></span>
                                <a href="{{ subPage.url }}">
                                  <span>{{ subPage.title }}</span>
                                </a>
                              </li>
                            {% elif subPage.subSubPages %}
                              {% for subSubPage in subPage.subSubPages %}
                                {% if title == subSubPage.title %}
                                  <li class="breadcrumb__item">
                                    <span class="breadcrumb__item-separator fa fa-angle-right"></span>
                                    <a href="{{ page.url }}">
                                      <span>{{ page.title }}</span>
                                    </a>
                                  </li>
                                  <li class="breadcrumb__item">
                                    <span class="breadcrumb__item-separator fa fa-angle-right"></span>
                                    <a href="{{ subPage.url }}">
                                      <span>{{ subPage.title }}</span>
                                    </a>
                                  </li>
                                  <li class="breadcrumb__item">
                                    <span class="breadcrumb__item-separator fa fa-angle-right"></span>
                                    <a href="{{ subSubPage.url }}">
                                      <span>{{ subSubPage.title }}</span>
                                    </a>
                                  </li>
                                {% endif %}
                              {% endfor %}
                            {% endif %}
                          {% endfor %}
                        {% endif %}
                      {% endfor %}
                    </ol>
                  </nav>

                </div>
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="main-content" class="clearfix main-content region--dark-typography region--white-background  region--no-separator">
  <div class="container">
    <div class="clearfix main-content__container">
      <div class="row">
        <section class="col-md-6 col-md-push-3">
          <div class="clearfix main-content__section">
            <div class="region region-content">
              <div id="block-tourismplus-page-title" class="clearfix block block-core block-page-title-block">
                <div class="content raw-content-main">
                  <h1 class="title page-title">{{ title }}</h1>

                  {{ content | safe }}
                </div>

              </div>
        </section>
        <aside class="col-md-3 col-md-pull-6">
          <section class="sidebar__section sidebar-first clearfix">
            <div class="region region-sidebar-first">
              <nav role="navigation" class="clearfix block block-menu navigation menu--kinship-caregivers">
                <h3>{{ sideNav["for-all-families-caregivers"].title }}</h3>
                <ul class="clearfix menu">
                  {% for page in sideNav["for-all-families-caregivers"].pages %}
                    {% set isExpanded = false %}
                    {% if page.subPages %}
                      {% for subPage in page.subPages %}
                        {% if title == subPage.title %}{% set isExpanded = true %}{% endif %}
                        {% if subPage.subSubPages %}
                          {% for subSubPage in subPage.subSubPages %}
                           {% if title == subSubPage.title %}{% set isExpanded = true %}{% endif %}
                          {% endfor %}
                        {% endif %}
                      {% endfor %}
                    {% endif %}
                    <li {% if isExpanded == false and title != page.title %}data-collapsed{% endif %} class="menu-item {% if isExpanded -%}menu-item--expanded{%- endif -%}"><a href="{{baseUrl}}{{ page.url }}">{{ page.title }}</a>
                    {% if page.subPages %}
                      <ul>
                        {% for subPage in page.subPages  %}
                          {% set subExpanded = false %}
                            {% if subPage.subSubPages %}
                              {% for subSubPage in subPage.subSubPages %}
                               {% if title == subSubPage.title %}{% set subExpanded = true %}{% endif %}
                              {% endfor %}
                            {% endif %}
                          <li {% if subExpanded == false and title != subPage.title %}data-collapsed{% endif %} class="menu-item {% if subExpanded -%}menu-item--expanded{%- endif -%}"><a href="{{baseUrl}}{{ subPage.url }}">{{ subPage.title }}</a>
                          {% if subPage.subSubPages %}
                            <ul>
                              {% for subSubPage in subPage.subSubPages %}
                                <li class="menu-item"><a href="{{baseUrl}}{{ subSubPage.url }}">{{ subSubPage.title }}</a></li>
                              {% endfor %}
                            </ul>
                          {% endif %}
                          </li>
                        {% endfor  %}
                      </ul>
                    {% endif %}
                    </li>
                  {% endfor %}
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>

    </section>
    </aside>
  </div>
    </div>