---
layout: layouts/base.njk
title: Kinship licensing
permalink: /kinship-licensing/
templateEngineOverride: md,njk
class: checklist
idnumber: LIC-1234
timestamp: November 2024
---

This checklist outlines the licensing process and what you need to do at each step.

## Decide whether to get licensed

First, you’ll decide whether you *want* to be licensed. It is optional.

A license means you agree to DCYF rules and regulations for kinship caregivers. You're also eligible for DCYF funding and resources. If you decide to remain unlicensed, you will not get for foster care payments from DCYF. 

## Initial License process

DCYF will offer you an Initial License to support you after placement. It's a temporary license you'll hold while you're completing the Kinship Licensing process. It's good for up to 90 days. Here are the steps:

<ul class="checklist">
  <li>
    <strong>Wait for a phone call</strong> from the Licensing Division to begin the Initial Licensing process. Expect this call about 2 weeks after placement. {% Callout "note" %}If you have not gotten a phone call after 2 weeks, ask your caseworker or Tribal worker to connect you with the Licensing Division.{% endCallout %}
  </li>

  <li><strong>Complete forms</strong> required for your Initial License. A DCYF or CPA worker will help you complete your kinship home application. {% Callout "note" %}If more than one adult is getting licensed, think about whose name you should list first. They'll be the one receiving payments. A collector can take foster care payments if you have unresolved debts.{% endCallout %}</li>

  <li>
    <strong>Get Initial License payments.</strong> Once DCYF approves your Initial License, you’ll be able to get foster care payments. At the end of each month, DCYF will send you an invoice. You’ll need to claim it to receive your check. It can take up to 45 days from placement to get your first check. See <a href="#">how to receive foster care payments.</a> {% Callout "note" %}Initial License payments are only available for 90 days after DCYF issues the license. If DCYF does not approve your full Kinship License within 90 days, you’ll have a gap in payments. Payments will resume when DCYF issues the full license.{% endCallout %}
  </li>
</ul>

## Kinship License process

Your licensing worker will help you complete the Kinship License process. Here are the steps:

<ul>
  <li><strong>Decide who to work with</strong> You can work with DCYF’s Licensing Division, a private child placing agency (CPA), or a Tribal CPA. A CPA can be a good choice if you want more ongoing support or an agency that reflects your culture. You can change agencies even after you get a license. Learn about <a href="https://www.dcyf.wa.gov/publications-library/LIC_0147">CPA options</a>.</li>

  <li>
    <strong>Get fingerprinted.</strong> You and <strong>each</strong> member of your household over age 18 need to be fingerprinted. First, you’ll be asked to complete an online or paper form. Then, you will receive an email with instructions to set up appointments. You need to complete these within 14 days of placement. {% Callout "note" %}Washington DCYF is committed to keeping children with relatives or kin. They'll working with you to understand background check results. In most cases, criminal records will not prevent licensing. Talk about your individual circumstances with your assigned licensing worker. Learn about <a href="https://www.dcyf.wa.gov/sites/default/files/pdf/secretaryslist.pdf">disqualifying crimes that may prevent DCYF from licensing you.</a>{% endCallout %}
  </li>

  <li>
    <strong>Complete and submit your application.</strong> A DCYF or CPA worker will help you complete your kinship home application.
  </li>

  <li>
    <strong>Meet with DCYF staff for home visits and interviews.</strong> After you turn in your kinship license application, you will be assigned a licensing worker. Let your licensing worker know if you need help meeting a requirement. Your licensing worker will connect with you to:
    <ul>
      <li>Complete interviews. At least one in person (others can be virtual). These can happen over as many as 3 visits and be as long as 2 hours each.</li>
      <li>If there are 2 or more caregivers, complete:
        <ul>
          <li>At least one interview with the caregivers together</li>
          <li>Another interview with each caregiver individually</li>
        </ul>
      </li>
      <li>Interview <strong>each</strong> household member, including children. These are usually about 5-10 minutes long and children must be interviewed in person.</li>
      <li>Contact your adult children who live outside the home.</li>
      <li>Complete the home inspection. Review the <a href="https://www.dcyf.wa.gov/forms?field_number_value=10-183&title=">Inspection Checklist</a> to learn what licensing workers are looking for.</li>
    </ul>
  </li>

  <li><strong>Get your Kinship License.</strong> Once approved, you will get your license either via email or mail. </li>

  <li><strong>Receive Kinship License reimbursements.</strong> Once DCYF approves your Kinship License, you can continue getting foster care payments. The process to <a href="#">get payments</a> is the same as the Initial License. In some cases, your <a href="https://dcyf.wa.gov/services/foster-parenting/new-caregiver-supports-rates-begin-jan-1">reimbursement rate will be higher.</a></li>
</ul>