---
layout: layouts/base.njk
title: Kinship licensing checklist
permalink: /checklist/
templateEngineOverride: md,njk
---

This checklist outlines the licensing process and what you need to do at each step.

### Decide whether to get licensed

First, you’ll decide whether you *want* to be licensed. It is optional.

A license means you agree to DCYF rules and regulations for kinship caregivers and are eligible for DCYF funding and resources. If you decide to remain unlicensed, you can still care for the child or youth, but you will not be eligible for foster care payments from DCYF. 

### Initial License process

The Initial License is a temporary license offered to support you after placement while you're completing the Kinship Licensing process. It is good for up to 90 days. Here are the steps to get the Initial License:

{%- Checklist -%}
- **Wait for a phone call** from the Licensing Division about 2 weeks after placement to begin the Initial Licensing process.

  {% Callout %}
  Note: If you have not received a phone call after 2 weeks, you can ask your caseworker or Tribal worker to connect you with the Licensing Division.
  {% endCallout %}

  - **Complete forms** required for your Initial License. 

- **Get Initial License payment**. Once your Initial License is approved, you’ll receive monthly invoices. You will need to claim these invoices each month in order to get payments. It can take up to 45 days from placement to get your first check.

   {%- Callout -%}
   Note: The Initial License payments are only available for 90 days after the license was issued. If your full Kinship License is not approved within 90 days, you’ll have a gap in payments until the full license is issued and payments can resume.
   {%- endCallout -%}

{%- endChecklist -%}

### Kinship License process

Your licensing worker will help you complete the Kinship License process. Here are the steps:

{% Checklist %}
- **Decide who to work with**. You can work with DCYF’s Licensing Division, a private child placing agency (CPA), or a Tribal CPA that specializes in working with kin. A CPA can be a good choice if you want additional ongoing support or an agency that reflects your culture. You can change agencies even after you get a license. Learn about your [CPA options](https://www.dcyf.wa.gov/publications-library/LIC_0147).

- **Get fingerprinted**. You and **each** member of your household over age 18 need to be fingerprinted. You’ll be asked to complete an online or paper form. Then, yYour worker will email to set up appointments. These need to be completed within 14 days of placement. 

   {% Callout %}
   Note: Washington DCYF is committed to placing children in kinship homes, and working with you to understand background check results. In most cases, criminal records will not prevent licensing. Talk about your individual circumstances with your assigned licensing worker. Learn more about [disqualifying crimes that may prevent you from being licensed](https://www.dcyf.wa.gov/sites/default/files/pdf/secretaryslist.pdf).
   {% endCallout %}

- **Complete and submit your application**. A DCYF or CPA worker will help you complete your kinship home application. 

   {% Callout %}
   Note: If more than one adult is getting licensed, think about whose name should be listed first. They will be the one receiving payments.
   {% endCallout %}

- **Meet with DCYF staff for home visits and interviews**. After you turn in your kinship license application, you will be assigned a licensing worker. They will connect with you, and:

 - Complete interviews, both in-person and virtually. These can be as many as 3 visits and as long as 2 hours each. 

 - If there are 2 or more caregivers, complete at least one interview with the caregivers together and another interview with each caregiver individually.

 - Interview **each** household member, including children. These are usually about 5-10 minutes long and some can be done virtually.

 - Contact your adult children who live outside the home.

 - Complete the home walk-through . Review the [Inspection Checklist](https://www.dcyf.wa.gov/forms?field_number_value=10-183&title=) to learn what licensing workers are looking for.

 - Let your licensing worker know if you need help meeting a requirement.
{% endChecklist %}

### Kinship License process, continued

{% Checklist %}
- **Get your Kinship License**. Once approved, you will get your license either via email or mail. 

- **Receive Kinship License payment**. Once your Kinship License is approved you’ll be able to receive foster care reimbursements. At the end of each month, DCYF will send you an invoice. You’ll need to check that invoice to be sure it is correct (meaning, that the child was in your care for the dates on the invoice) and claim it for payment processing. 

 - Set up a SecureAccess Washington (SAW) account, if desired

 - Set up a direct deposit, if desired (See [How to Set Up Payments](#))

 - Claim invoice ***monthly***. Do this on the last day of the month. 
{% endChecklist %}