---
layout: layouts/base.njk
title: Foster Parent Rights and Responsibilities
permalink: /foster-parent-rights/
templateEngineOverride: md,njk
---

## Introduction

Foster parents are vital to the Department of Children, Youth, and Families' (DCYF) vision that Washington's children and youth grow up safe and healthy — thriving physically, emotionally, and educationally. Foster parenting is a unique and complex experience in part because foster parents have to know and track a lot of information, rules, and requirements. We hope that this guide will serve as a resource to help you stay aware of the rights and responsibilities you learned about during Caregiver Core Training.

### Overview

This guide identifies foster parents' rights and responsibilities (including kinship caregivers who are licensed) from the laws and rules found in the Revised Code of Washington (RCWs) and Washington Administrative Code (WACs). These laws and rules are linked throughout this document.

Towards the end of this document, we provide resources for navigating issues, addressing questions and concerns, or if you need a supportive, listening ear.

## General Rights and Responsibilities

### Rights

Foster parents have the right to be free from coercion, discrimination, and reprisal (retaliation) serving foster children. {%- LawLink "[RCW 74.13.332](https://apps.leg.wa.gov/rcw/default.aspx?cite=74.13.332)" -%}

Foster parents have the right to voice grievances about treatment furnished or not furnished to the foster child. {%- LawLink "[RCW 74.13.332](https://apps.leg.wa.gov/rcw/default.aspx?cite=74.13.332)" -%}

Foster parents have the right to have their personal information kept confidential, to the extent allowed by law.{%- LawLink "[RCW 42.56](https://apps.leg.wa.gov/rcw/default.aspx?cite=42.56) and [CR 26-37](https://www.courts.wa.gov/court_rules/?fa=court_rules.display&group=sup&set=cr&ruleid=supcr26)" -%}

Foster parents have the right to decline, admit, or keep a child in their home, unless the decision violates the Washington State law against discrimination. {%- LawLink "[RCW 49.60](http://app.leg.wa.gov/RCW/default.aspx?cite=49.60)" -%}. For example, a foster parent may not decline a child because of the child's actual or perceived race, ethnicity, religion, sexual orientation, gender identity, or SOGIE.

### Responsibilities

Foster parents must comply with DCYF's minimum licensing requirements, including background check requirements. {%- LawLink "[RCW 74.15](https://app.leg.wa.gov/rcw/default.aspx?cite=74.15), [RCW 43.43](https://apps.leg.wa.gov/rcw/default.aspx?cite=43.43), [WAC 110-148](https://app.leg.wa.gov/wac/default.aspx?cite=110-148) and [WAC 110-04](https://app.leg.wa.gov/WAC/default.aspx?cite=110-04)" -%}

Foster parents must protect, care, supervise, and nurture children placed with them. {%- LawLink "[RCW 74.13.3300](https://app.leg.wa.gov/rcw/default.aspx?cite=74.13.330)" -%}

Foster parents must comply with all safety plans concerning the child. {%- LawLink "[RCW 74.13.710](https://app.leg.wa.gov/rcw/default.aspx?cite=74.13.710)" -%}

## Notification, Information Sharing, Inclusion in Case Plan

### Rights

Before a child is placed in a foster home, foster parents have the right to be informed of any known health conditions that pose a serious threat to the child and any known behavioral history that presents a serious risk of harm to the child or others. {%- LawLink "[RCW 74.13.285](https://app.leg.wa.gov/rcw/default.aspx?cite=74.13.285)" -%}

Within timeframes established by law and policy, foster parents have the right to receive information about the child and the child’s family to enable the foster parent to meet the child’s needs. {%- LawLink "[RCW 74.13.280](https://apps.leg.wa.gov/rcw/default.aspx?cite=74.13.280)" -%}

For children placed at least 90 consecutive days, foster parents have the right to all the information DCYF has about the child’s mental, physical, health, and educational status. {%- LawLink "[RCW 74.13.285](https://app.leg.wa.gov/rcw/default.aspx?cite=74.13.285)" -%}

DCYF must consult with a dependent child’s foster parents regarding the child’s case plan. {%- LawLink "[RCW 74.13.280](https://apps.leg.wa.gov/rcw/default.aspx?cite=74.13.280)" -%}

Foster parents have the right to be included in the permanency consideration for a child in their care. In an effort to prevent placement disruption and additional trauma to the child, DCYF will weigh the length of stay in the home, existing relationships, and attachment to the current provider when developing the child’s permanency plan and recommendation to the court. {%- LawLink "[RCW 13.34.065](https://apps.leg.wa.gov/rcw/default.aspx?cite=13.34.065) and [RCW 13.34.130](https://app.leg.wa.gov/rcw/default.aspx?cite=13.34.130)" -%}

Foster parents have the right to attend and be heard (through the caregiver’s report to the court) at all court hearings. DCYF must notify foster parents of all hearings at the same time that it is required to notify the parties to the case (foster parents are not parties in dependency or termination cases).

- DCYF will provide foster parents with a copy of the Caregiver’s Report to the Court (15-313) to complete and submit to the guardian ad litem or caseworker before each court hearing: www.dcyf.wa.gov/forms?field_number_value=15-313&title= {%- LawLink "[RCW 13.34.096(1)](https://apps.leg.wa.gov/rcw/default.aspx?cite=13.34.096)" -%}

- Foster parents can call their local juvenile court to request the next hearing date and time if they are unable to reach their caseworker. https://www.courts.wa.gov/court_dir/.

- For annual permanency and review hearings, DCYF must provide notice upon placement or as soon as possible thereafter.

- DCYF may notify foster parents in writing, over the phone, or in person.

DCYF will provide foster parents with a copy of the “caregiver’s report to the court” to complete and submit to the guardian ad litem or caseworker before each court hearing.

- Foster parents need to turn their completed Caregiver’s Report to the Court to the caseworker at least two weeks before the next scheduled hearing. {%- LawLink "[RCW 13.34.096(2)](https://apps.leg.wa.gov/rcw/default.aspx?cite=13.34.096)" -%}

- If a child has been placed in a foster home for at least 90 days, foster parents have the right to be notified at least five days before DCYF moves the child from their home. For exceptions to this requirement, see [RCW 74.13.300](https://app.leg.wa.gov/rcw/default.aspx?cite=74.13.300)

Foster parents have the right to information about whether the child is sexually reactive, has exhibited high-risk behaviors, is physically assaultive or physically aggressive, and whether the child:

- Received a medical diagnosis of fetal alcohol syndrome or fetal alcohol effect.

- Has been diagnosed as having a mental health disorder.

- Has witnessed a death or substantial physical violence in the past or recent past.

- Was a victim of sexual or severe physical abuse in the recent
past. {%- LawLink "[RCW 74.13.280](https://apps.leg.wa.gov/rcw/default.aspx?cite=74.13.280)" -%}

### Responsibilities

Foster parents must comply with the child’s case plan and all court orders related to child care and supervision, including court orders on parent-child contacts and sibling contacts. {%- LawLink "[RCW 13.34.065(5)(e)](https://apps.leg.wa.gov/rcw/default.aspx?cite=13.34.065) and [RCW 13.34.130(9)](https://apps.leg.wa.gov/RCW/default.aspx?cite=13.34.130)" -%}

Foster parents must agree in writing to keep the information they receive confidential, and they must affirm that they will not share the information they receive about the child. {%- LawLink "[RCW 74.13.280](https://apps.leg.wa.gov/rcw/default.aspx?cite=74.13.280) and [RCW 74.13.285](https://app.leg.wa.gov/rcw/default.aspx?cite=74.13.285)" -%}

## CPS Investigations and Licensing Complaints in Foster Homes

### Rights

The subject of a CPS investigation has the right to be notified of any child abuse or neglect allegations. {%- LawLink "[RCW 26.44.100(2)](https://app.leg.wa.gov/rcw/default.aspx?cite=26.44.100)" -%}

DCYF must keep the identity of the person making the complaint confidential. {%- LawLink "[RCW 26.44.100(2)](https://app.leg.wa.gov/rcw/default.aspx?cite=26.44.100)" -%}

The subject of a CPS investigation has the right to receive written notice of the finding. {%- LawLink "[RCW 26.44.100 (3) and (4)](https://app.leg.wa.gov/rcw/default.aspx?cite=26.44.100)" -%}

Subjects of founded findings of child abuse or neglect who submit timely requests for review have a right to administrative review of the findings, including the right to an administrative hearing. {%- LawLink "[RCW 26.44.100](https://app.leg.wa.gov/rcw/default.aspx?cite=26.44.100) and [RCW 26.44.125](https://app.leg.wa.gov/rcw/default.aspx?cite=26.44.125)" -%}

When licensing complaints, per [DCYF Policy 5150](https://www.dcyf.wa.gov/5100-applying-foster-parent-or-unlicensed-caregiver/5150-licensing-investigations), do not result in a modification, denial, or revocation of the license:

- The licensee will be notified of any allegations of licensing violations at the earliest possible time that will not jeopardize the integrity of the investigation.

- The licensee will be notified in writing whether the investigation results in a valid or non-valid finding.

If the licensee is in disagreement with the finding, they may provide a written statement to be included in the licensing file.

{% Callout "note", "Confidentiality" %}
Foster parents and kinship caregivers read and hear about a lot of confidential information, so it’s important to know the rules about who they can share information with and when the information can be shared.

Foster parents can share information about the child, the child’s family, and the case plan on a **need-to-know basis or for case planning.**

Foster parents **do not need permission** to share information with:

- DCYF’s Licensing Division
- DCYF’s Child welfare staff
- A child placing agency team assigned to the child
- Tribal social services worker
- Department of Health
- Department of Social and Health Services
- Office of the State Fire Marshall
- Office of the Family and Children’s Ombuds
- Treatment and service providers in the child’s case plan

Foster parents **need permission** from:

- The child’s caseworker
- The child’s GAL, CASA, or Child Advocate
- The child’s attorney

In order **to share information with treatment and service providers who are not identified in the child’s case plan.**

Foster parents are encouraged to check with the child’s caseworker about sharing information with **the child’s parent or guardian, teacher, counselor, or doctor or other people who are not identified in the child’s case plan.** {%- LawLink "[WAC 110-148-1410](https://app.leg.wa.gov/WAC/default.aspx?cite=110-148-1410), [RCW 74.13.280](https://apps.leg.wa.gov/rcw/default.aspx?cite=74.13.280) and [RCW 70.02.220](https://app.leg.wa.gov/RCW/default.aspx?cite=70.02.220)" -%}
{% endCallout %}

## Support and Complaint Resolution

A foster parent who believes DCYF retaliated or discriminated against them has the right to submit a complaint to the Office of Family and Children Ombuds (OFCO). {%- LawLink "[RCW 74.13.333](https://apps.leg.wa.gov/rcw/default.aspx?cite=74.13.333)" -%}

Foster parents who have complaints regarding a DYCF policy or procedure, how DCY has applied policy or procedure, or how it has performed under its performance-based contracts have the right to resolve their complaints through an informal, non-adversarial complaint resolution process. They also have the right to be informed on how to use this process. {%- LawLink "[RCW 74.13.045](https://app.leg.wa.gov/rcw/default.aspx?cite=74.13.045)" -%}

Foster parents have the right to training to assist them in caring for emotionally, mentally, or physically disabled children. {% LawLink "[RCW 74.13.310](https://app.leg.wa.gov/rcw/default.aspx?cite=74.13.310)" %}

Under the foster parent critical support and retention program, foster parents who care for sexually reactive children, physically assaultive children, or children with other high-risk behaviors have the right to:

- 24/7 access to DCYF to address specific concerns related to the child.

- Assessment of risk and development of a safety and supervision plan.

- Home-based, evidence-based training.

- Referral to relevant community services and training. {%- LawLink "[RCW 74.13.660](https://app.leg.wa.gov/rcw/default.aspx?cite=74.13.660)" -%}

## Resources for Foster Parents

### Support

#### The Alliance Caregiver Retention, Education, and Support (CaRES) Program

CaRES is available to all foster parents (including kin) throughout their fostering journey. They connect caregivers to peer mentors who are available to listen, problem solve, and help identify local resources. Visit the CaRES website for information about support groups, events, and more!

[Visit the CaRES website](https://alliancecares.org)
Email: alliancecares@uw.edu
Call 206-221-4913

#### Crisis Support for Foster Parents and Kinship Caregivers

##### Daytime Emergencies

- 8:00 a.m. - 5:00 p.m. Monday through Friday
- [Call your local Child Welfare Office](https://fortress.wa.gov/dshs/ca/CAOfficesPub/offices/general/officepick.asp)

##### Afterhours Placement Emergencies

- 5 p.m. - 8 a.m. Monday through Friday and all weekend hours
- Contact Central Intake 1-800-301-1868
- Foster parents may experience wait times, which can be a significant amount of time depending on statewide afterhours call volume.

##### Available Anytime

- Call a [regional mental health crisis line.](https://www.hca.wa.gov/free-or-low-cost-health-care/i-need-behavioral-health-support/mental-health-crisis-lines) The phone lines are:
	- Staffed 24/7/365
	- Available to all Washingtonians (regardless of insurance or income level)
	- Provided by the Health Care Authority and Behavioral Health Administrative Services Organizations

#### Foster Intervention and Retention Support Team (FIRST) Program

If you are a current foster parent and you're experiencing an LD-CPS investigation or licensing investigation and are seeking support and neutral advice, contact the Foster Intervention and Retention Support Team (FIRST) program by calling 866-393-6186. You can learn more about the FIRST program and find self- advocacy resources on the CaRES website at https://alliancecares.org/first/ and by reviewing the publication [First Rack Card](https://www.dcyf.wa.gov/publications-library/CWP_0005) (CWP_0005) available online.

#### Foster Parent Alliance of Washington State (FPAWS)

The [Foster Parent Association of Washington State (FPAWS)](https://www.fpaws.org) is a non-profit organization made up of current and former caregivers that provide support to foster and kinship families throughout Washington State.

## Concerns

**Regional 1624 Representatives and Meetings.**

1624 meetings, named after the legislative bill that created the meetings, bring together foster parents and DCYF staff. These public meetings are open to all foster parents! Also in attendance are regionally elected foster parent representatives. [Visit its website](https://www.dcyf.wa.gov/about/community-engagement/fp-1624) to find meeting dates and times as well as contact information for regional foster parent "reps."

**The Washington State Family and Children's Ombuds  (OFCO)** is an independent and impartial office that helps citizens navigate Washington State agencies serving children, youth, and families. For more information, [visit their website](https://www.ofco.wa.gov) or call 1-800-571-7321.

**DCY Constituent Relations** provides a fair and courteous process for resolving complaints relating to child protection and child welfare cases, foster home and child care licensing, child care programs, and juvenile rehabilitation services. For more information, visit [our website](https://www.dcyf.wa.gov/contact-us/constituent-relations), email constrelations@dcyf.wa.gov, or call 1-800-723-4831.

[_Caregiver Communication Guide_](https://www.dcyf.wa.gov/publications-library/CWP_0073) (CWP_0073): explains how to ask for help or share a concern when a caseworker or licensor is unavailable.

### Helpful Publications

- [Prudent Parenting Guide](www.dcyf.wa.gov/publications-library/CWP_0078) (CWP_0078) aka "Caregiver Guidelines for Supporting Normal Childhood Activities for Children and Youth Experiencing Out-of-Home Care"

- [Reporting Responsibilities for Foster Parents](www.dcyf.wa.gov/publications-library/LIC_0003) (LIC_0003)

- [Kinship Care: Relative and Suitable Other Placement](www.dcyf.wa.gov/publications-library/CWP_0074) (CWP_0074)

- [Caregivers and the Dependency Court Process](www.dcyf.wa.gov/publications-library/CWP_0065) (CWP_0065)

- [Shared Planning Guide](www.dcyf.wa.gov/publications-library/CWP_0070) (CWP_0070)

- [Permanency Planning Supports and Resources Matrix](www.dcyf.wa.gov/publications-library/CWP_0088) (CWP_0088)

- [Foster Parent Reimbursement - Property Damage](www.dcyf.wa.gov/publications-library/FB_0011) (FB_0011)


### Training

[The Alliance](https://cpe.socialwork.uw.edu/alliance-courses)

### Questions?

If you have any questions about this document, feel free to reach out to the Caregiver Retention and Support Program Manager Holly Luna at: Holly.Luna@dcyf.wa.gov or 360-870-1423

## DCYF is committed to building a more equitable system for the children and youth of Washington State.