---
layout: layouts/base.njk
title: DCYF Kin Materials - New Layout
templateEngineOverride: md,njk
---

- [Payments](/payments/)
- [Rights and responsibilities](/foster-parent-rights/)
- [Licensing checklist](/checklist/)
- [Permanency planning matrix](/permanency/)


See [content with the current site layout here.](/raw/)