---
layout: layouts/base.njk
title: DCYF Kin Materials
templateEngineOverride: md,njk
---

- [Payments](/payments/)
- [Rights and responsibilities](/foster-parent-rights/)
- [Licensing checklist](/checklist/)
- [Permanency planning matrix](/permanency/)