---
layout: layouts/base.njk
title: DCYF Kin Materials - New Layout
templateEngineOverride: md,njk
---

- [Payments and Reimbursements](/payments/)
- [Rights and responsibilities](/foster-parent-rights/)
- [Licensing checklist](/checklist/)
- [Permanency planning matrix](/permanency/)

- [Data table example](/data-table/)


See [content with the current site layout here.](/raw/)