---
layout: layouts/base.njk
title: Payments and Reimbursements
permalink: /payments/
templateEngineOverride: md,njk
idnumber: PAY-1234
timestamp: November 2024
---

## Vouchers for groceries and clothing

The Department may provide vouchers for groceries and clothing to help you meet the needs of your child or youth. 

Ask your child’s caseworker for help covering these costs. 

## Temporary Assistance for Needy Families (TANF) 

Temporary Assistance for Needy Families (TANF) supports families with children experiencing low income. If you do not qualify for TANF based on your own income, but you are an unlicensed relative caregiver of a foster child, you may be eligible for [non-needy relative TANF](https://www.dshs.wa.gov/esa/community-services-offices/non-needy-relative-loco-parentis-and-legal-guardian-grant). Applications for non-needy TANF do not consider your income. 

DCYF encourages you to apply to TANF or non-needy relative TANF in order to receive financial support during the licensing process.

{% Callout 'apply' %}
You can [apply for TANF online](https://www.washingtonconnection.org/home/). Your social worker can assist you with a paper TANF application, which will be submitted to the DSHS’s [local community services office](https://www.dshs.wa.gov/office-locations) (CSO). {% endCallout %}

{% Callout %}Caregivers cannot receive both TANF benefits on behalf of the child while also receiving [foster care reimbursements](#foster-care-maintenance-payments). Foster care reimbursements are typically higher than TANF.{% endCallout %}

{% Callout "warning" %}If you receive TANF benefits while completing the licensing process, you will need to inform DSHS once your license has been approved and you become eligible to receive foster care reimbursements.{% endCallout %}

## Foster care maintenance payments

Kinship caregivers can apply to become licensed by the Department, a private Child Placing Agency, tribal CPA, or tribe. Once licensed, caregivers are eligible to receive reimbursements to help cover the cost of food, clothing, shelter, and personal incidentals. These are also called foster care maintenance payments. 

{% Callout %}Foster care maintenance payments are reimbursements and not income so they should not be reported as income and should not affect other benefits eligibility.{% endCallout %}

{% Download "help" %}Learn more about the [licensing process.](https://docs.google.com/document/d/1dl1gHIalOtqT39rhH3DtV3g94VwhxYV3NviIopDeqZE/edit?tab=t.0#heading=h.5kn39imtq0lo){% endDownload %}

### Steps to receive reimbursement

Once your license is approved:

1. DCYF will send you an invoice each month.   
2. You will need to submit or “claim” invoices every month.   
3. DCYF will mail you a check or directly deposit into your bank account. 

### 1\. Receiving invoices

Invoices include the number of nights that a child or youth was in your care. You have 2 options for how to receive invoices:

<ul class="icon-list">
{% IconListItem "mail" %}By mail{% endIconListItem %}

{% IconListItem "online" %}Electronically{% endIconListItem %}
</ul>

DCYF will mail you paper invoices unless you prefer to receive them electronically. 

To access electronic invoices online, you will need to log into or create an account on [Secure Access Washington (SAW)](https://secureaccess.wa.gov/myAccess/saw/select.do). In SAW, you can access the Social Services Payment System (SSPS) Provider Portal.

{% Download "help" %}See [step-by-step instructions on how to register for the SSPS Provider Portal](https://www.dcyf.wa.gov/sites/default/files/pdf/ProviderPaymentsTraining.pdf).{% endDownload %}

### 2\. Claiming an invoice

Check that the invoice dates match the dates that the child was in your care and claim it for processing. You have 3 options for how to claim invoices: 

<ul class="icon-list">
{% IconListItem "phone" %}[By phone](https://www.dshs.wa.gov/sites/default/files/publications/documents/22-369.pdf) by calling 1-888-461-8855{% endIconListItem %}

{% IconListItem "online" %}Online through [the Provider Portal on your SAW account](https://www.dcyf.wa.gov/sites/default/files/pdf/ProviderPaymentsTraining.pdf){% endIconListItem %}

{% IconListItem "mail" %}By mail by signing and mailing to State of Washington, SSPS, PO Box 45889, Olympia, WA 98584-5889 {% endIconListItem %}
</ul>

### 3\. Receiving funds

You have 2 options for how to receive funds. 

<ul class="icon-list">
{% IconListItem "mail" %}By mail{% endIconListItem %}

{% IconListItem "direct-deposit" %}By direct deposit{% endIconListItem %}
</ul>

The Department will mail you a check unless you [sign up to receive direct deposit](https://www.dcyf.wa.gov/sites/default/files/pdf/SettingUpDirectDeposit.pdf). Signing up for direct deposit is not required but the Department highly recommends it. If you do not set up a direct deposit, you will continue to get checks in the mail, which may take longer.

#### Signing up for direct deposit

If you’d like your money to go right into your bank account rather than getting a check, you can sign up for direct deposit. DCYF will send you instructions for how to set up direct deposit. 

{% Callout %}
To sign up for direct deposit you must fill out 2 forms and submit them together. 
- Provider registration form
- Direct deposit form
{% endCallout %}

You have 2 options for signing the forms.

<ul class="icon-list">
{% IconListItem "online" %}[E-sign forms online](https://view.officeapps.live.com/op/view.aspx?src=https%3A%2F%2Fofm.wa.gov%2Fsites%2Fdefault%2Ffiles%2Fpublic%2Fitsystems%2Fpayee%2FSubmitVendorFormsWithDocuSign.docx&wdOrigin=BROWSELINK) using Docusign{% endIconListItem %}
{% IconListItem "pen" %}[Print, sign, scan, then email forms](https://www.dcyf.wa.gov/sites/default/files/pdf/ProviderPaymentsTraining.pdf){% endIconListItem %}
</ul>

It takes 4-6 weeks to process all the forms and complete the direct deposit process. 

For answers to additional questions consult the [Provider Payments FAQ](https://www.dcyf.wa.gov/sites/default/files/pdf/ProviderPaymentsFAQ.pdf) or ask your social worker. 

## Mileage or transportation costs

The Department will reimburse mileage or transportation costs for some activities including: 

1. Family time visits with parents or siblings  
2. Transportation to maintain educational stability, or school extracurricular activities    
3. Court hearings and court-ordered activities   
4. Medical, dental, counseling sessions, or WIC appointments   
5. Attendance at meetings at the request of DCYF staff   
6. Some DCYF-approved caregiver trainings, e.g., First Aid and HIV/BBP training   
7. Participation in recreational activities, practices, or lessons   
8. Respite care, for mileage in excess of 10 miles each way   
9. Child care, for mileage in excess of the caregiver’s regular commute to work  
10. Transportation to and from a child’s appointment that is longer than three hours and the caregiver returns home 

{% Download %}Use the [Caregiver Monthly Transportation Reimbursement form](https://www.dcyf.wa.gov/forms?field_number_value=07-090&title=) and submit it to your caseworker.{% endDownload %}

## Property damage and emergency medical treatment reimbursement

The Department provides limited reimbursement for [damages to property and/or emergency medical treatment](https://www.dcyf.wa.gov/sites/default/files/pubs/FB_0011.pdf) because of an act by a foster child placed in the home.

For *your* property damage or emergency medical treatment of a household member, use this form:

{% Download %}[Foster caregiver reimbursement claim form](https://www.dcyf.wa.gov/forms?field_number_value=18-400&title=){% endDownload %} 

For *a third party’s* damage or emergency medical treatment, use this form:

{% Download %}[Foster caregiver third party liability form](https://www.dcyf.wa.gov/forms?field_number_value=18-400A&title=){% endDownload %}

Then, submit claims to your caseworker.  

## Supplemental Security Income (SSI)

Supplemental Security Income (SSI) pays monthly benefits to people with limited income who have a qualifying disability. Caregivers of children who are blind, deaf, drug affected, diagnosed with medical fragility, a disability, or receive special education services are eligible for SSI benefits. 

{% Callout %}While the child is a dependent of the state of Washington, the Department will receive SSI on behalf of the child.{% endCallout %}

You are **eligible** to receive SSI for a qualifying child:

<ul class="icon-list">
{% IconListItem "yes" %}If you are informally/independently caring for a child (i.e., the child is not in foster care){% endIconListItem %}

{% IconListItem "yes" %}Once a child’s dependency ends, e.g. if you have become a child’s guardian or adoptive parent{% endIconListItem %}
</ul>

You are **not eligible** if:

<ul class="icon-list">
{% IconListItem "no" %}The child is in foster care{% endIconListItem %}
</ul>



<div class="l-cluster download-group">
{% Download %}[Apply for SSI online](https://www.ssa.gov/apply/ssi){% endDownload %}
{% Download "help" %}[Get help with your application](https://www.ssa.gov/ssi/start.html){% endDownload %}
</div>