---
layout: layouts/base.njk
title: Permanency Planning Matrix
permalink: /permanency/
templateEngineOverride: md,njk
idnumber: CWP_0088
timestamp: November 2023
---

## Reunification

<dl class="l-stack-basic">

{% Definition "Permanent Plan" %}
Federal Timeline requires this permanency plan be achieved within 12 months of Original Placement Date (OPD)
{% endDefinition %}


{% Definition "Objective" %}
Preferred option when safety threats are managed, or eliminated, or aggravated circumstances do not exist. Maintains family connections and provides permanency beyond age 18.
{% endDefinition %}

{% Definition "Legal Status" %}
Parental rights remain with birth or legal parent.
{% endDefinition %}

{% Definition "Legal Custody & Caregiver Responsibility After Permanent Plan Achieved" %}
The dependency is dismissed and all care and custody is returned to the parents. 

{% Callout %}DCYF does not provide ongoing services or supervision.{% endCallout %}
{% endDefinition %}

{% Definition "Birth / Adoptive Parent Rights / Responsibility" %}
Full parental rights and responsibility.
{% endDefinition %}

{% Definition "Financial Services Available / Monthly Subsidy" %}
May be eligible for benefits and services such as monthly grant and Medicaid through the DSHS Community Services Office (CSO).
{% endDefinition %}

{% Definition "Medical" %}
Responsibility of the family. Apple Health Core Connection continues for one year.
{% endDefinition %}

{% Definition "Educational Services" %}
Youth eligibility for post high school grants and scholarships is program specific. For college financial aid options visit a financial aid office at a local college, or [visit StudentAid.gov.](https://studentaid.gov/h/apply-for-aid)
{% endDefinition %}

{% Definition "Services Post 18 Years" %}
Youth may be eligible for extended foster care (EFC) services. [Additional information can be found here.](http://dcyf.wa.gov/services/foster-youth/extended-foster-care-program)
{% endDefinition %}
</dl>

## Guardianship Title 13

<dl class="l-stack-basic">
{% Definition "Permanent Plan" %}
[Chapter 13.36 RCW](https://apps.leg.wa.gov/RCW/default.aspx?cite=13.36)

- This type of guardianship is only available for dependent children.

- DCYF does not provide ongoing services or supervision.

- If the guardian is eligible for the Guardianship Assistance Program (GAP) then additional services may be available. Contact your GAP Gatekeeper for assistance.

- Post guardianship children and youth are not considered foster children or youth.

- Federal Timeline requires this permanency plan be achieved within 18 months of OPD.
{% endDefinition %}

{% Definition "Objective" %}
Provides permanency for children or youth with an approved adult.

Guardianship is to be discussed with parents and caregivers as an alternative to termination of parental rights (TPR) and adoption, when children or youth have been placed with the caregiver for more than six months.

Legal relationship ends on the youth's 18th birthday.
{% endDefinition %}

{% Definition "Legal Status" %}
- Parental rights are not required to be terminated.
- Although the parent continues to be the legal parent, the guardian has full care, custody and control of the child or youth.
- The dependency is dismissed.
- Legally free children and youth can achieve permanency through a guardianship.

{% Callout %}
If the family later decides to adopt the child, they will be responsible for legal fees and will not be eligible for adoption support.
{% endCallout %}
{% endDefinition %}

{% Definition "Legal Custody & Caregiver Responsibility After Permanent Plan Achieved" %}
- The legal guardian maintains physical and legal custody with full responsibility for care, custody, and the right to
make decisions for the child or youth.

- In rare circumstances modifications of the guardianship order may occur.

- Guardians can choose whether or not to provide an inheritance to a child or youth; it is not a right for the child or youth.

- GAP subsidy can transfer to a successor guardian if named in the GAP agreement and the legal guardian becomes incapacitated or dies.
{% endDefinition %}

{% Definition "Birth / Adoptive Parent Rights / Responsibility" %}
- Guardianship orders must include visits unless court grant exception. Visits are the responsibility of the guardian.

- DCYF does not pursue child support.

- If a guardian accesses a public benefit such as TANF (non-needy), DSHS may pursue child support against the parent unless good cause is found not to do so.

- The court may continue to order that the birth parent is still responsible for child support.

- In rare circumstances modifications of the guardianship order may occur.
{% endDefinition %}

{% Definition "Financial Services Available / Monthly Subsidy" %}
**Subsidized:** A guardianship subsidized (monthly cash subsidy) through the Guardianship Assistance Program (GAP)
may be available to licensed relatives that meet the requirements, per GAP policy, that includes, but is not limited to:

- The DCYF case is in a dependency status or the child is legally free.

- Guardian has been a fully licensed foster parent for at least six months and having placement of the child or youth for six months post licensing prior to establishing the guardianship. The Initial License time is not counted towards the six-months post licensing requirement.

- GAP agreement must be signed prior to establishing the guardianship.

- The program also reimburses up to $2,000 to guardians for up-front legal fees.

(www.dcyf.wa.gov/4340-guardianship/43401-relative-guardianship-assistance-program-r-gap)

Or

**Non-Subsidized:** Guardians who do not qualify for GAP may apply for financial support from the Temporary Assistance for Needy Families (TANF) program through the CSO.

- Household income is no longer reviewed to determine eligibility.

- Guardian may request a good cause waiver of child support against the biological parent when applying for TANF.
{% endDefinition %}

{% Definition "Medical" %}
**Subsidized guardianship:**

- Medical and dental coverage is provided and will be specified in the GAP agreement.

Evidence Based or Evidence Informed Counseling is available to guardianship families when requested through Family Voluntary Services (FVS).

- Guardians may apply for medical for the child or youth through the CSO or put them on their own insurance if their personal insurance plan allows.

**Nonsubsidized guardianship:**

- Guardians may apply for medical for the child or youth through the CSO.

- In either type it may be possible to put the child/youth on the guardian's personal insurance plan, if allowed by the employer.
{% endDefinition %}

{% Definition "Educational Services" %}
Youth eligibility for post high school grants and scholarships is program specific.

For college financial aid options visit a financial aid office at a local college or go to: https://studentaid.gov/h/apply-for-aid
{% endDefinition %}

{% Definition "Services Post 18 Years" %}
**Check with the GAP Gatekeeper to determine eligibility for Extended Guardianship Assistance Program (EGAP).**

EGAP subsidy will automatically stop on the youth's 18th birthday. The youth may be eligible to receive support until the age of 21 if the youth meets one of the following criteria and provides continued documentation:

1. Enrolled in high school or high school equivalency program.

2. Enrolled, has applied for, or can show intent to timely enroll in a post-secondary academic or vocational program.

3. Participating in a program to promote or remove barriers to employment, including part-time employment.

4. Employed 80 hours or more a month.

5. Unable to engage in any of the above activities due to a documented medical condition.

6. Youth may also be eligible to apply for TANF or state family assistance (SFA) through the CSO, per WAC 388-404-0005.

Youth eligibility for post high school grants and scholarships is program specific.

For college financial aid options visit a financial aid office at a local college or go to https://studentaid.gov/h/apply-for-aid

Youth may be eligible to apply for TANF or state family assistance (SFA) if they are under age 19 and participating in a secondary education program full-time, progressing toward completion and meets the eligibility requirements for cash but no medical benefits per, WAC 388-404. (https://app.leg.wa.gov/wac/default.aspx?cite=388-404-
0005"WAC 388-404-0005)
{% endDefinition %}
</dl>

## Guardianship of a Minor Title 11

<dl class="l-stack-basic">

{% Definition "Permanent Plan" %}
[Chapter 11.130 RCW](https://app.leg.wa.gov/RCW/default.aspx?cite=11.130)


- This type of guardianship may be available for dependent children but is done outside of dependency court.

- To be eligible for GAP subsidy and other services the case must have an open dependency and meet all other GAP eligibility criteria.

- DCY does not provide ongoing supervision once the guardianship is finalized.

- If the guardian is eligible for a GAP subsidy, then additional services may be available. Contact your GAP Gatekeeper for assistance. See Financial Services Available / Monthly Subsidy for details.

- Post guardianship children and youth are not considered foster children or youth.

- Federal Timeline requires this permanency plan be achieved within 18 months of OPD.
{% endDefinition %}

{%  Definition "Objective" %}
Provides permanency for children or youth with an approved adult(s).

Guardianship is to be discussed with parents and caregivers as an alternative to termination of parental rights (TPR) and adoption, when children or youth have been placed with the caregiver for more than six months.

Legal relationship ends when youth turns 18.
{% endDefinition %}

{% Definition "Legal Status" %}
Parental rights remain intact.

Although the parent continues to be the legal parent, the guardian has full care, custody or control of the child or youth.

The dependency is dismissed, if applicable.

Legally free children and youth can achieve permanency through a guardianship.

{% Callout %}
If the family later decides to adopt the child, they will be responsible for legal fees and will not be eligible for adoption support. If there is a GAP subsidy in place it will end.
{% endCallout %}

{% endDefinition %}

{% Definition "Legal Custody & Caregiver Responsibility After Permanent Plan Achieved" %}
The petitioner becomes the legal guardian with full responsibility for care, custody, and the right to make decisions regarding the child or youth.

Chapter 11.130 guardianship is not filed with the dependency court. The proposed guardian is responsible for filing and serving other parties.

The court may order the parent remain involved in some decision making.

Guardians can choose whether or not to provide an inheritance to a child or youth; it is not a right for the child or youth.

For eligible relatives, GAP subsidy can transfer to a successor guardian if named in the GAP agreement and the legal guardian becomes incapacitated or dies.

Parents may petition the courts for termination or modifications of the guardianship may occur if the:

- Basis for the guardianship of a minor no longer exists.

- It would not be harmful to the child or youth.

- The child's or youth's interest in maintaining the guardianship may outweigh the parent's interest in regaining their rights.
{% endDefinition %}

{% Definition "Birth / Adoptive Parent Rights / Responsibility" %}
Birth parent remains the legal parent.

DCYF does not pursue child support.

However, in a Title 1l Guardianship the courts may order child support. A guardian can request TANF (non-needy) and, if provided, DSHS may pursue child support against the parent unless good cause is found not to do so.

Custody orders may include visits.

Modification of custody orders may occur if the:

- Basis for the guardianship of a minor no longer exists.

- Modification would not be harmful to the youth.

- Youth's interest in maintaining the guardianship outweighs the parent's interest in regaining their rights
{% endDefinition %}

{% Definition "Financial Services Available / Monthly Subsidy" %}

**Subsidized:** A guardianship subsidized (monthly cash subsidy) through the **Guardianship Assistance Program (GAP)** may be available to licensed relatives that meet the requirements, per GAP policy, that includes, but is not limited to:

- The DCYF case is in a dependency status or the child is legally free.

- Guardian has been a fully licensed foster parent for at least six months and having placement of the child or youth for six months post licensing prior to establishing the guardianship. The Initial License time is not counted towards the six-months post licensing requirement.

- GAP agreement must be signed prior to establishing the guardianship.

- The program also reimburses up to $2,000 to guardians for up-front legal fees.

(www.dcyf.wa.gov/4340-guardianship/43401-relative-guardianship-assistance-program-r-gap)

Or

**Non-Subsidized:** Guardians who do not qualify for GAP may apply for financial support from the Temporary Assistance for Needy Families (TANF) program through the CSO.

- Household income is no longer reviewed to determine eligibility.

- Guardian may request a good cause waiver of child support against the biological parent when applying for TANF.
{% endDefinition %}

{% Definition "Medical" %}
**Subsidized guardianship:**

Medical and dental coverage is provided and will be specified in the GAP agreement.

Evidence Based or Evidence Informed Counseling is available to guardianship families when requested through Family Voluntary Services (FVS).

Guardians may apply for medical for the child or youth through the CSO or put them on their own insurance if their personal insurance plan allows.

**Nonsubsidized guardianship:**

Guardians may apply for medical for the child or youth through the CSO.

In either type it may be possible to put the child/youth on the guardian's personal insurance plan, if allowed by the employer.
{% endDefinition %}

{% Definition "Educational Services" %}
Youth eligibility for post high school grants and scholarships is program specific.

For college financial aid options visit a financial aid office at a local college or go to: https://studentaid.gov/h/apply-for-aid
{% endDefinition %}

{% Definition "Services Post 18 Years" %}
**Check with the GAP Gatekeeper to determine eligibility for Extended Guardianship Assistance Program (EGAP).**

EGAP subsidy will automatically stop on the youth's 18th birthday. The youth may be eligible to receive support until the age of 21 if the youth meets one of the following criteria and provides continued documentation:

1. Enrolled in high school or high school equivalency program.

2. Enrolled, has applied for, or can show intent to timely enroll in a post-secondary academic or vocational program.

3. Participating in a program to promote or remove barriers to employment, including part-time employment.

4. Employed 80 hours or more a month.

5. Unable to engage in any of the above activities due to a documented medical condition.

6. Youth may also be eligible to apply for TANF or state family assistance (SFA) through the CSO, per WAC 388-404-0005.

Youth eligibility for post high school grants and scholarships is program specific.

For college financial aid options visit a financial aid office at a local college or go to https://studentaid.gov/h/apply-for-aid

Youth may be eligible to apply for TANF or state family assistance (SFA) if they are under age 19 and participating in a secondary education program full-time, progressing toward completion and meets the eligibility requirements for cash but no medical benefits per WAC 388-404. (https://app.leg.wa.gov/wac/default.aspx?cite=388-404-0005"WAC 388-404-0005)
{% endDefinition %}
</dl>

## Adoption
<dl class="l-stack-basic">
{% Definition "Permanent Plan" %}
{% Callout %}
DCYF does not provide ongoing supervision.
{% endCallout %}

Post Adoption Services are based upon the child's or youth's needs and family circumstances.

Federal Timeline requires this permanency plan be achieved within 24 months of OPD.
{% endDefinition %}

{% Definition "Objective" %}
Provides permanency for a child or youth when adoption rather than reunification or guardianship is determined to be in their best interest.

Child or youth becomes a permanent and legal member of a family with all the legal rights of a birth child.

Adoption is a lifelong legal relationship that cannot be modified in court.
{% endDefinition %}

{% Definition "Legal Status" %}
Parental rights are relinquished or terminated unless it is a customary adoption established through Tribal court.
{% endDefinition %}

{% Definition "Legal Custody & Caregiver Responsibility After Permanent Plan Achieved" %}
Upon entry of adoption decree, the child or youth becomes the legal child or youth of the adoptive parents. The adoptive parents have all care, custody and legal rights to make decisions on the child's or youth's behalf. The child or youth has inheritance rights.

Title IVE adoption assistance can follow the youth to a subsequent adoption.
{% endDefinition %}

{%  Definition "Birth / Adoptive Parent Rights / Responsibility" %}
Adoptive parents assume full parental rights. Birth parents have no parental rights after termination of parental rights(TPR), unless a customary adoption established through Tribal court.

Birth and adoptive parent may have ongoing contact under an Open Adoption Agreement.
{% endDefinition %}

{%  Definition "Financial Services Available / Monthly Subsidy" %}
By applying for assistance through the adoption support program, adoptive parents may be eligible for finalization costs including legal fees. Families also may be eligible for a monthly cash reimbursement.
{% endDefinition %}

{%  Definition "Medical" %}
Medical and dental coverage for the child or youth is provided as specified in the adoption support agreement.

Pre-Authorized Counseling can be available and includes individual, family or adoptive parent counseling.

Specific contracted Combined In-Home services are also available to adoptive families.
{% endDefinition %}

{%  Definition "Educational Services" %}
Youth eligibility for post-high school grants and scholarships is program specific.

For college financial aid options visit a financial aid office at a local college or go to: https://studentaid.gov/h/apply-for-aid

Youth adopted after age 13 are eligible to complete FAFSA forms as an independent individual.
{% endDefinition %}

{%  Definition "Services Post 18 Years" %}
Adoption support benefits will automatically stop on the youth's 18th birthday, unless they meet eligibility requirements and the parents have provided documentation of the youth's continuation in high school prior to the 18th birthday.

If adopted after the age of 16, youth may be eligible to receive support up to age 21 through the Extended Adoption Support Program if the parents are providing financial support and the youth meets one of the following criteria:

1. Enrolled in high school or high school equivalency program.

2. Enrolled, has applied for, or can show intent to timely enroll in a post-secondary academic or vocational program.

3. Participating in a program to promote or remove barriers employment, including part-time employment.
{% endDefinition %}
</dl>

DCYF does not discriminate and provides equal access to its programs and services for all persons without regard to race, color, gender, religion, creed, marital status, national origin, sexual orientation, age, veteran’s status, or presence of any physical, sensory, or mental disability.

If you would like free copies of this publication in an alternative format or language, please contact DCYF Constituent Relations at 1-800-723-4831
or email communications@dcyf.wa.gov.