---
layout: layouts/rawAll.njk
title: Support and resources
hideTitle: true
permalink: /raw/support-resources/
templateEngineOverride: md,njk
---

{% SectionHeader "Support and resources", "/assets/images/support-resources.jpg" %}

Intro text goes here

#### Get support

- [Legal support](#)
- [Crisis support](#)
- [Respite care and other breaks from caregiving](#)
- [Permanency planning](#)
- [Healthcare for youth](#)
- [Tribal foster care](#)
- [Community and group support](#)
- [Housing and education support](#)
- [Forms and guides](#)
- [DCYF support](#)