---
layout: layouts/raw.njk
title: Payments and Reimbursements
permalink: /raw/payments.html
templateEngineOverride: md,njk
parent_page: Kinship Caregiver Resources
parent_page_link: https://dcyf.wa.gov/services/foster-parenting/kinship-caregivers/resources
---

You have several options for financial support in your role as a caregiver.

### Vouchers for groceries and clothing

DCYF may provide vouchers for groceries and clothing for the child. Ask your child’s caseworker for help covering these costs. 

### Temporary Assistance for Needy Families (TANF) 

Temporary Assistance for Needy Families (TANF) supports families with children experiencing low income. 

If you do not qualify for TANF based on your own income, you may be eligible for [non-needy relative TANF](https://www.dshs.wa.gov/esa/community-services-offices/non-needy-relative-loco-parentis-and-legal-guardian-grant). Applications for non-needy relative TANF do not consider your income. 

DCYF encourages you to apply for TANF or non-needy relative TANF to get financial support during the licensing process.

{% Callout 'apply' %}You can [apply for TANF online](https://www.washingtonconnection.org/home/). Your social worker can assist you with a paper TANF application. This will be submitted to the DSHS’s [local community services office](https://www.dshs.wa.gov/office-locations) (CSO).{% endCallout %}

{% Callout %}Caregivers cannot receive both TANF benefits and [foster care maintenance payments](#foster-care-maintenance-payments). Foster care reimbursements are typically higher than non-needy TANF.{% endCallout %}

{% Callout "warning" %}If you receive TANF benefits, you must inform DSHS as soon as DCYF approves your license.{% endCallout %}

### Foster care maintenance payments

If you become a licensed caregiver, you’ll receive monthly foster care maintenance payments. You can get these for as long as you’re caring for a kinship child or youth in your home. Foster care maintenance payments help you cover the cost of: 

- Food
- Clothing
- Shelter
- Other caregiver expenses.

These are also called foster care maintenance reimbursements. Learn [how to get payments](./payments-how.html). 

{% Callout %}Foster care maintenance payments are reimbursements and not income. You should not report them as income. They should not affect your eligibility for other benefits or your taxes. {% endCallout %}

{% Download "help" %}Learn more about the [licensing process.](https://docs.google.com/document/d/1dl1gHIalOtqT39rhH3DtV3g94VwhxYV3NviIopDeqZE/edit?tab=t.0#heading=h.5kn39imtq0lo){% endDownload %}

### Mileage or transportation costs

DCYF will reimburse mileage or transportation costs for some activities including: 

* Family time visits with parents or siblings  
* School or extracurricular activities    
* Court hearings and court-ordered activities   
* Medical, dental, counseling, or WIC appointments  
* Attendance at meetings at the request of DCYF staff   
* Some DCYF-approved caregiver trainings  
* Participation in recreational activities, practices, or lessons   
* Respite care, for mileage more than 10 miles each way   
* Child care, for mileage more than the caregiver’s regular commute to work

If an appointment or activity is longer than three hours, DCYF will reimburse you to drop them off and pick them up later. 

To claim your reimbursement:

1. Complete the [Caregiver Monthly Transportation Reimbursement form](https://www.dcyf.wa.gov/forms?field_number_value=07-090&title=)  

2. Submit it to your child’s caseworker

### Property damage and emergency medical care reimbursement

DYCF provides [limited reimbursement](https://www.dcyf.wa.gov/sites/default/files/pubs/FB_0011.pdf) for property damage and emergency medical care caused by a child. In some cases DCYF covers the result of your actions. 

For damage to your property or emergency medical care for a household member:

1. Complete the [foster caregiver reimbursement claim form](https://www.dcyf.wa.gov/forms?field_number_value=18-400&title=).  
2. Submit the form to your child's caseworker.  

For damage to someone else’s property or emergency medical care for someone outside your household:

1. Complete the [foster caregiver third party liability form](https://www.dcyf.wa.gov/forms?field_number_value=18-400A&title=).  
2. Submit the form to your child's caseworker.