---
layout: layouts/raw.njk
title: Get paid back for approved costs
permalink: /raw/payments-get-paid-back.html
templateEngineOverride: md,njk
parent_page: Payments and financial support
parent_page_link: ./payments.html
---

Whether you’re a licensed or unlicensed caregiver, you may be eligible for reimbursement from DCYF for certain approved costs. Learn what’s covered and how to apply.

### Mileage or transportation costs

As a caregiver, you may have to drive your child or yourself to activities or appointments. DYCF will pay you back for gas mileage or transportation costs for approved activities.

#### Approved activities

* Family time visits with parents or siblings  
* School or extracurricular activities    
* Court hearings and court-ordered activities   
* Medical, dental, counseling, or WIC appointments  
* Attendance at meetings at the request of DCYF staff   
* Some DCYF-approved caregiver trainings  
* Participation in recreational activities, practices, or lessons   
* Respite care, for mileage more than 10 miles each way   
* Child care, for mileage more than the caregiver’s regular commute to work

If you’re unsure whether an activity is approved, ask your child’s caseworker. 

If an approved appointment or activity is longer than 3 hours, DCYF will reimburse you to drop them off and pick them up later. 

{% Callout "apply" %} Complete the [Caregiver Monthly Transportation Reimbursement form](./form-transportation.html) in the language of your choice. When you’ve completed the form, submit it to your child’s caseworker.{% endCallout %}

### Property damage and emergency medical care

DYCF provides [limited reimbursement](https://www.dcyf.wa.gov/sites/default/files/pubs/FB_0011.pdf) for property damage and emergency medical care caused by a child. In some cases DCYF covers the result of your actions. 

#### Covered costs

* Property damage and loss up to $5,000.00  
* Emergency medical treatment up to $1,000.00  
* Emergency veterinary expenses up to $500.00  
* Third party property damage, loss, emergency medical treatment, or legal fees up to $25,000.00

#### Not covered

* Costs covered under a public or private insurance policy (homeowner, medical, dental)  
* Costs involving a car, truck, or motorcycle  
* Costs without supporting documentation (receipts or photos)  
* Costs resulting from illegal activity, poor supervision, or intentional acts or omissions

{% Callout "apply" %}
1. Complete the appropriate form.

    For damage to your property or emergency medical care for a household member: [Caregiver reimbursement claim form](https://www.dcyf.wa.gov/forms?field_number_value=18-400&title=)

    For damage to someone else’s property or emergency medical care for someone outside your household: [Caregiver third party liability form](https://www.dcyf.wa.gov/forms?field_number_value=18-400A&title=)

2. Collect supporting documentation. You’ll need support your application with documentation, including: 

    - Private insurance information, if applicable 
    - Receipts, photos, and any other materials that support your claim

3. Submit your application and supporting documentation to your assigned DCYF caseworker. After you submit, cooperate with any new requests from your caseworker.{% endCallout %}

### Questions

For general questions, contact your child’s caseworker.

For questions about a specific claim, contact DCYF Caregiver Claims: [dcyf.caregiverclaims@dcyf.wa.gov](mailto:dcyf.caregiverclaims@dcyf.wa.gov).

{% Callout "related" %}
- [Payments and financial support](./payments.html)
{% endCallout %}
