---
layout: layouts/base.njk
title: DCYF Kin Materials - Current Site Layout
permalink: /raw/
templateEngineOverride: md,njk
---

- [Payments and reimbursements](./payments.html)
- [How to get payments](./payments-how.html)
- [Kinship licensing (newest)](./kinship-licensing.html)
- [Kinship licensing (archived from Dec 12, 2024)](./checklist-dec-12.html)


See [content with a more modern layout here (WIP.)](../)