---
layout: layouts/raw.njk
title: Healthcare and medicine
permalink: /raw/healthcare-meds.html
templateEngineOverride: md,njk
parent_page: Kinship Caregiver Resources
parent_page_link: https://dcyf.wa.gov/services/foster-parenting/kinship-caregivers/resources
---

There is a lot involved in caring for a child’s health. Please review this list to understand your responsibilities as a kin caregiver. 

### Routine health needs

You must schedule and take them to routine appointments. Some examples include:

* Well child doctor visits  
* Dental cleanings (twice a year)  
* Eye exams (if needed)  
* Behavioral health appointments (if applicable) 


You need to make sure the child has basic items to meet their health and hygiene needs. Some examples include:

* Diapers and wipes  
* Pull ups and absorbent underwear   
* Glasses  
* Menstrual products  
* Dental braces and retainers


You must give prescription medicine only as directed by a doctor. You can give over-the-counter medicines as needed, following instructions on the label.

{% Callout %}Do not use medicine for behavior control unless prescribed for that purpose. This includes sleep medicine.{% endCallout %}

Check with your child’s caseworker before using traditional Native American medicines. They’ll help you determine if these medicines are appropriate. Some examples include: 

* Sage  
* Cedar  
* Sweet grass

You have to notify your child’s caseworker of any changes to their healthcare or medicine needs. This includes:

* New or different prescribed medicines  
* Changes to medicine dosages

### Consent

You are responsible for consenting to healthcare for children under age 18\. This includes:

* Routine medical, dental, and vision care  
* Diagnosis or treatment of an illness or injury  
* Emergency medical treatment or mental health care

You must get permission from your child’s caseworker for certain medical services. These services are not emergencies, but go beyond routine check-ups. Some examples include:

* Services that use anesthesia, such as removal of tonsils or ear tube insertion

* Mind-altering medicine for children under age 13, or those who are not able to give their own consent

* Surgery

{% Callout %}You must get permission to consent for medical care for children in the custody of Tribal court. Ask your child’s caseworker for more information.{% endCallout %}

Youth age 18 or over will consent to their own medical care, unless you have legal authority to consent for them. 

Youth under 18 may consent to their own medical care in certain circumstances. Some examples include:

* Mental health care  
* Reproductive and sexual health care  
* Substance use care  
* Consultations related to gender identity

{% Callout %}If you’re licensed by Washington but live in a different state, there may be different rules. Check your state’s laws about when minors can consent to their own medical care.{% endCallout %}

### Access to medicine

You are responsible for properly storing medicine.

You should only allow access to those approved to give medicine. Children or youth may take their own medicine if one of the following is true:

* They’re in the extended foster care program

* They have written approval by their doctors and caseworkers

You should only let children access medicine they can use safely. DCYF can give you a lock if you need it. Depending on the child’s age and development, you might consider limiting access to:

* Prescription medicines  
* Over-the-counter medicines such as vitamins, herbal remedies, or pet medicines

You must ensure children can access lifesaving medicine they can use safely. Some examples include:

* Inhalers  
* Epi-Pens  
* Naloxone

### Serious incidents

You need to report certain events to DCYF within specific timeframes. This allows DCYF to offer support or contact necessary authorities. 

Contact the child’s caseworker or the department intake to report medical emergencies. You must report these within 48 hours. Some examples include:

* Medicine given or taken wrong  
* Infection or a communicable disease, such as measles or polio  
* Serious illness or injury, or psychiatric care  
* Disclosed suicidal or homicidal thoughts, gestures, or attempts   
* Emergency medical treatment or mental health care

Contact the child’s caseworker or the department intake to report concerning sexual contact or behaviors by or towards the child. You must report these within 48 hours. Some examples include:

* Non-consensual sexual contact   
* Sexual contact that is not age or developmentally appropriate  
* Sexual behavior that is not age or developmentally appropriate, such as flashing or public masturbation 

Contact the child’s caseworker to report behavior that resulted in physical restraint. You must report this within 24 hours.

Immediately contact the department intake if:

* You suspect or the child disclosed physical or sexual abuse, neglect, or exploitation  
* The child is near death  
* The child dies

{% Callout "related" %}<a href="#">Drugs, alcohol, and toxic items</a>{% endCallout %}

{% Callout "note", "Read the regulations" %}
For more information read the Washington Administrative Codes (WACs) related to these topics: 

- WAC 110-149-0120: Meeting the basic and specific needs of children and youth

- WAC 110-149-0170: Medical consent

- WAC 110-149-0180: Medication administration and accessibility

- WAC 110-149-0190: Storing medications, substances, toxic products, firearms, and other weapons

- WAC 110-149-0290: Reporting incidents
{% endCallout %}


