---
layout: layouts/raw.njk
title: Get foster care payments
permalink: /raw/payments-foster-care.html
templateEngineOverride: md,njk
parent_page: Payments and financial support
parent_page_link: ./payments.html
---

As a licensed caregiver, you can get monthly foster care payments to reimburse you for food, clothing, shelter, and other caregiving expenses.

{% Callout %}Foster care payments are sometimes called other names, including: foster care maintenance payments (FCMPs), foster care reimbursements, or caregiver support resource level payments.{% endCallout %}

### Eligibility

You are eligible for foster care payments if you are:

* A foster parent or licensed kinship caregiver  
* Caring for a child placed by DCYF, a Tribe, or other jurisdiction

### Payment levels

Foster care payments are given monthly at a flat rate. They are not an itemized reimbursement for individual costs. 

Each month, you will get an invoice with your estimated monthly payment. The amount will be determined by the:

* Number of children in your care  
* Number of nights each child was under your care  
* Payment level we assign you (based on your licensing status and your child’s age and physical, developmental, behavioral, or mental health needs)

Learn more about [current caregiver payment levels](./payment-levels.html).

### Get payments

#### 1\. Sign up for the SSPS Provider Portal

To simplify the payment process, we use the Social Services Payment System (SSPS) Provider Portal.

[Sign up for the SSPS Provider Portal](./payments-ssps.html).

#### 2\. Sign up for direct deposit (optional)

If you’d like your money deposited into your bank account, you can sign up for direct deposit. Using direct deposit is not required, but we recommend it for faster payment. 

To sign up for direct deposit, you must fill out 2 forms and submit them together: 

<div class="download-group l-cluster">
{% Download "pdf" %}[Provider registration form](https://www.dcyf.wa.gov/sites/default/files/forms/ProviderRegistrationForm.pdf){% endDownload %} 

{% Download "pdf" %}[Direct deposit form](https://www.dcyf.wa.gov/sites/default/files/forms/ProviderDirectDepositAuthorizationform.pdf){% endDownload %}
</div>

You have 2 options for submitting the forms: 

<ul class="icon-list">

{% IconListItem "online" %}E-sign forms [using Docusign](https://ofm.wa.gov/it-systems/accounting-systems/statewide-vendorpayee-services) (fastest method){% endIconListItem %} 

{% IconListItem "pen" %}Print and sign, then email [orms to [ProviderFileUnit@dshs.wa.gov](mailto:ProviderFileUnit@dshs.wa.gov){% endIconListItem %} 
</ul>


{% Callout %}It takes 4-6 weeks to process direct deposit forms. We recommend you sign up as soon as possible.{% endCallout %}

#### 3\. Get your invoice

Once you have signed up with the SSPS Provider Portal, DCYF will begin generating invoices for you in the portal. See [sample invoice](https://drive.google.com/file/d/11y2ZBGoWGxWqqNAWOKXIMsCpHgjiI9cj/view?usp=sharing).

You have 2 options for how to get invoices:

<ul class="icon-list">
{% IconListItem "mail" %}By mail{% endIconListItem %}

{% IconListItem "online" %}Electronically, through the SSPS Provider Portal{% endIconListItem %}
</ul>

SSPS will mail you paper invoices unless you sign up to receive them electronically. To sign up for electronic invoices, choose the “Go paperless” option in the portal. 

You may opt in to get email notifications when a new invoice is ready.

#### 4\. Claim your invoice

After you get your invoice, you must claim it to get paid.

Check that the invoice dates match the dates each child was in your care. Count every night that a child slept in your home. Then claim the invoice to get your payment. 

{% Callout %}We recommend waiting until the last day of the month to claim invoices so they’re accurate.{% endCallout %}

You have 3 options for how to claim invoices: 

<ul class="icon-list">
{% IconListItem "phone" %}[By phone](https://www.dshs.wa.gov/sites/default/files/publications/documents/22-369.pdf): 888-461-8855{% endIconListItem %} 
{% IconListItem "online" %}Online through [the SSPS Provider Portal](./payments-ssps.html){% endIconListItem %} 
{% IconListItem "mail" %}
    By mail:

    Fill out and sign the invoice. Make a copy for your records. Mail the form to: 

    State of Washington, SSPS  
    PO Box 45889  
  	Olympia, WA 98584-5889 
{% endIconListItem %} 
</ul>

{% Callout %}If the child left your home before the end of the month the invoice may not reflect this. When invoices are printed, they include estimated stays. You will need to correct it before claiming.{% endCallout %} 

#### 5\. Get your reimbursement

Payments are sent the following month. For example, if you have a child in your care in May, you’ll get payment for that care in June.

SSPS will mail you a check unless you sign up for direct deposit. If you signed up for direct deposit, you will see the money directly in your account each month.

{% Callout %}Foster care payments are not income. Do not report them as income to the IRS. They should not affect your taxes but may affect your eligibility for other benefits, like SNAP.{% endCallout %}

### Get help

If you have questions, consult the [Provider Payments FAQ](https://www.dcyf.wa.gov/sites/default/files/pdf/ProviderPaymentsFAQ.pdf) or ask your caseworker. 

{% Callout "related" %}
- [Payments and financial support](./payments.html)
- [Kinship licensing process](./kinship-licensing) {% endCallout %}

