---
layout: layouts/base.njk
title: DCYF Kin Materials - Current Site Layout
permalink: /raw/
templateEngineOverride: md,njk
---

- [Payments and reimbursements](./payments.html)
	- [Claim invoices online](./payments-invoices.html)
	- [Get foster care payments](./payments-foster-care.html)
	- [Sign up for the SSPS Provider Portal](./payments-ssps.html)
	- [Get paid back for approved costs](./payments-get-paid-back.html)
	- [Get federal cash assistance (TANF)](./payments-tanf.html)
	- [Caregiver Monthly Transportation Reimbursement Form](./form-transportation.html)
- Kinship licensing
	- [Newest version](./kinship-licensing.html)
	- [Archived from Dec 12, 2024](./kinship-licensing-dec-12.html)
- [Kinship caregiver rules](./rules.html)
	- [Health care and medicine](./healthcare-meds.html)
	- [Reporting serious incidents](./reporting-incidents.html)

See [content with a more modern layout here (WIP.)](../)