---
layout: layouts/raw.njk
title: Get federal cash assistance (TANF)
permalink: /raw/payments-tanf.html
templateEngineOverride: md,njk
parent_page: Payments and financial support
parent_page_link: ./payments.html
---

If you’re an unlicensed caregiver, you may be eligible for federal financial support through Temporary Assistance for Needy Families (TANF). We encourage you to apply for TANF to support you during the licensing process.

### Eligibility

TANF is a federal program administered by the Department of Social and Health Services (DSHS). It provides cash assistance and services to low-income families.

As a caregiver, you may be eligible for [non-needy relative TANF](https://www.dshs.wa.gov/esa/community-services-offices/non-needy-relative-loco-parentis-and-legal-guardian-grant) regardless of your income status. This is sometimes called “child-only” TANF.

{% Callout %}You may be asked about your income on the non-needy relative TANF application. This is to find out if you qualify for other benefits programs, like SNAP or WIC.{% endCallout %}

**Foster care payment reporting**

You cannot get TANF benefits and [foster care payments](./payments-foster-care.html) at the same time. 

If you currently get foster care payments, you must report this as “other income” in your TANF application.

If you get TANF and then begin receiving foster care payments, you must **report this change to DSHS by the 10th of the month** after you get your first foster care payment. 

If you don’t report, you may get an overpayment that you will have to pay back.

{% Callout %}Foster care payments are higher than non-needy TANF.{% endCallout %}

**How to apply**

Complete an application:

<ul class="icon-list">
{% IconListItem "online" %}[Online](https://www.washingtonconnection.org/home/){% endIconListItem %} 
{% IconListItem "phone" %}By phone: 877-501-2233{% endIconListItem %} 
{% IconListItem "bank" %}In person at your [local Community Services Office](https://www.dshs.wa.gov/esa/faq){% endIconListItem %} 
</ul>

After you submit, you will need to:

- Cooperate with the collection of child support unless it is [unsafe to do so](https://www.dshs.wa.gov/esa/social-services-manual/division-child-support-dcs-good-cause)

- Sign over child support rights to DSHS

- Complete an interview

{% Download "help" %}[Get help with your application from DSHS](https://www.dshs.wa.gov/esa/community-services-offices/non-needy-relative-loco-parentis-and-legal-guardian-grant){% endDownload %}

#### Questions

Call DSHS Customer Service Contact Center at 877-501-2233 or visit your [local Community Services Office](https://www.dshs.wa.gov/esa/faq).

{% Callout "related" %}
- [Payments and financial support](https://docs.google.com/document/d/13ctM4B_JRr2mmKKz4ov5JXTESIJ0YQNo5FWeHVNIugI/edit?tab=t.0#heading=h.ptozs13ezt96){% endCallout %}